# Showcase notebook Synthetic

This class creates synthetic training data in the style of a Verlustliste
The data is returned as a pandas data frame.

In [1]:
from compgen2 import Gov, Synthetic, const
import pandas as pd

In [2]:
data_root = "../data"
gov = Gov(data_root)

In [3]:
gov.load_data()

In [4]:
gov.build_indices()

In [5]:
syn = Synthetic(gov)

## Default probabilities with distortion_factor = 1.

In [6]:
syn.create_synthetic_test_set(size=1000, num_parts=2, distortion_factor=1.)

,location,truth
0,"hagenberg, lauensby","hagenberg, lauensby"
1,"hannover, hamersen","hannover, hamersen"
2,"hessen-nassau, wiesbaden","hessen-nassau, wiesbaden"
3,"flensburg-hand, preu.","flensburg-land, preußen"
4,"odžak, österreich-ungarn (monarchie)","odžak, österreich-ungarn (monarchie)"
...,...,...
995,"windeby, schleswig-holstein","windeby, schleswig-holstein"
996,"braunschweig, holzminden","braunschweig, holzminden"
997,"klein kloden, bresla","klein kloden, breslau"
998,"preußen, seggelund","seggelund, preußen"
999,"schwarzburg-rudolstadt, deutsc. reich","schwarzburg-rudolstadt, deutsches reich"

## Control test set: No distortion at all (distortion=factor 0.)

In [7]:
df = syn.create_synthetic_test_set(size=1000, num_parts=3, distortion_factor=0.)

In [8]:
df

,location,truth
0,"kropp, groß rheide, schleswig-holstein","kropp, groß rheide, schleswig-holstein"
1,"adamsruhe, preußen, wirbeln","adamsruhe, preußen, wirbeln"
2,"deutsches reich, aachen, doveren","deutsches reich, aachen, doveren"
3,"österreich-ungarn (monarchie), böhmen, österre...","österreich-ungarn (monarchie), böhmen, österre..."
4,"bromberg, preußen, ascherbruch","bromberg, preußen, ascherbruch"
...,...,...
995,"deutsches reich, zwickau, sachsen","deutsches reich, zwickau, sachsen"
996,"sorau, pförten, preußen","sorau, pförten, preußen"
997,"preußen, frankfurt (oder), brandenburg","preußen, frankfurt (oder), brandenburg"
998,"deutsches reich, sachsen, salzwedel","deutsches reich, sachsen, salzwedel"
999,"svojkov, böhmisch leipa, österreich-ungarn (mo...","svojkov, böhmisch leipa, österreich-ungarn (mo..."

Double-check: All rows are the same:

In [9]:
df[~ pd.Series.eq(df["location"], df["truth"])]

Empty DataFrame
Columns: [location, truth]
Index: []

## Currently implemented manipulation/distortion methods

The synthetic class currently implements the following manipulation/distortion methods:
* `shuffle_order(list, float)`: Shuffles the items of a list. The probability is taken from const_synthetic.py and multiplied by the distortion_factor.
* `shorten(string)`: Drop the last n characters of a word where n is randomly chosen. Insert a period after the remaining characters.
* `linotype(string)`: Replace a character with a random neighbouring character from the linotype keyboard.
* `fractal(string)`: Replace a character with a random character that looks similar in the fractal font.
* `drop(string)`: Returns the empty string. The class linguistic expects a callable type, so this method is used to actually remove a single character.